Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
pgvector
python-dotenv
PyPDF2
# openai-whisper
moviepy
ollama
requests
Pillow

