Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
python-dotenv
PyPDF2
# openai-whisper
moviepy
ollama
requests
Pillow
psycopg2-binary
pgvector
psutil
httpx
pydantic
gunicorn
