--extra-index-url https://download.pytorch.org/whl/cu124
asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
pgvector
python-dotenv
PyPDF2
openai-whisper
moviepy
ollama
unsloth==2026.1.4
torch==2.5.1
torchvision
torchaudio 
gunicorn
